.title_mission{
    font-size: 40px;
    border-top:#5C8EE5 3px solid;
    width: 90%;
    text-transform: uppercase;
}
.mission_sectoin p{
    color: #828A99;
    font-size: 16px;
    width: 90%;
}
.mission_sectoin{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.mission_sectoin img{
    width: 600px;
    height: 750px;
}
.mis_main{
    width: 50%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}