*,* {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_block_blue{
  font-size: 50px;
  color: #292D33;
  text-transform: uppercase;
}
.title_block_blue_div{
  width: 150px;
  height: 2px;
  background-color: #5C8EE5;
}