.pr_section{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.title_mission{
    font-size: 60px;
    border-top:#5C8EE5 3px solid;
    width: 100%;
    text-transform: uppercase;
}
.pr_div{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pr_section p{
    color: #828A99;
}