.pr_section{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.title_mission{
    font-size: 60px;
    border-top:#5C8EE5 3px solid;
    width: 100%;
    text-transform: uppercase;
}
.pr_div{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pr_section p{
    color: #828A99;
}

.ul_pr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35%;
    width: 100%;
}
.ul_pr ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 40%;
}
.ul_pr ul li{
     display: flex;
    flex-direction: row;
}
.ul_pr ul li img{
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.ul_pr ul li p{
    color: black;
}