.pr_section{
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.pr_section img{
    width: 480px;
    height: 480px;
}
.pr_div{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pr_section p{
    color: #828A99;
}