.main_header{
    color: white;
    width: 80%;
    height: 60%;
    margin-top: 10vh;
}
h2{
    font-size: 80px;
}
.main_header{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ab_sec{
    width: 100vw;
    height: 70vh;
    background-image: url(../assets/bg.png);
    background-size: cover;
    margin-bottom: 5vh;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_blue{
    width: 302px;
    height: 95px;
    background-color: #5C8EE5;
    color: white;
    border: none;
}