.him_sec{
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.him_sec p{
    color: #828A99;
    width: 60%;
}
.ul_him{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ul_him ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.ul_him ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ul_him ul li p{
    color: black;
}
.ul_him ul li div{
    width: 26px;
    height: 1px;
    background-color:  #5C8EE5;
    margin-right: 15px;
}