.title_blog{
    font-size: 50px;
    border-top:#5C8EE5 3px solid;
    width: 90%;
}
.blog_section{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.cards{
   height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link_blog{
     width: 40%;
    height: 90%;
}
.blog_card1{
     background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/blog_pic.png);
    background-repeat: no-repeat;
   width: 100%;
   height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-bottom: 40px;
    padding-left: 10px;
}
.blog_card2{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/blog2.png);
    background-repeat: no-repeat;
   width: 100%;
   height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding-bottom: 40px;
    padding-left: 10px;
}
.blog_card1 h5{
    font-size: 28px;
}
.blog_card2 h5{
    font-size: 28px;
}

.blog_section button{
    background-color: #5C8EE5;
    width: 80px;
    height: 60px;
    border: none;
}
.nav_blog{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
