.par_sec{
    width: 80%;
    height: 200vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
aside{
    width: 20%;
    height: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
}
aside button:hover{
    border: #5C8EE5 1px solid;
}
.par_text{
    color: #292D33;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.par_text h5{
    font-size: 36px;
}
.par_text p{
    font-size: 16px;
}
.par_text h6{
    font-size: 20px;
}