.title_partner{
    font-size: 50px;
    border-top:#5C8EE5 3px solid;
    width: 90%;
}
.PartnerSection{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     margin-top: 5vh;
    margin-bottom: 5vh;
}
.p_pic{
    width: 720px;
    height: 480px;
}
.p_main{
    width: 60%;
    height: 85%;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul{
    list-style: none;
}

.pics{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pics li{
    width: 33%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.pics li div{
    width: 70px;
    height: 70px;
     background-image: url('../assets/burger1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.pics li:hover div{
   background-image: url('../assets/burger_hover.png');
}

.p_ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45%;
    width: 70%;
}
.ul_ic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.ul_ic li{
    display: flex;
    flex-direction: row;
}

.ul_ic img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}